@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg: #060200;
    --text: #f5f5f5;
    --panel: #0a0400;
    --outline: #1c0c00;
    --accent: #e55d02;
    --header-font: prompt, poppins, impact;
    --body-font: roboto, impact;
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--body-font);
}