* {
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    position: sticky;
    top: 0;
    user-select: none;
    padding-inline: 30px;
    padding-block: 5px;
    display: flex;
    justify-content: space-between;
    background-color: var(--panel);
    border-block-end: 1px solid var(--outline);
    font-family: var(--header-font);
}

header>div {
    display: flex;
    align-items: center;
    width: 33%;
    transition: all 0.2s;

    & object path {
        fill: var(--accent);
    }
}

header svg {
    width: 30px;
    height: 30px;
    fill: var(--text);
}

header>div:nth-of-type(1) {
    justify-content: start;

    & svg {
        fill: var(--accent);
    }
}



header>div:nth-of-type(2) {
    justify-content: end;
}

header #header-logo span {
    font-size: 30px;
    margin-inline: 5px;
}

header object {
    height: 50;
    width: 50;
}

header ul,
footer ul {
    font-size: 16px;
    align-items: center;
    display: flex;
    padding: 0;
    list-style: none;
    gap: 10px;
}

header li a,
footer li a {
    text-decoration: none;
    color: var(--text);
    transition: all 0.2s;
}

header>div:hover,
header a:hover,
footer a:hover {
    color: var(--accent);
}

footer {
    border-block-start: 1px solid var(--outline);
    background-color: var(--panel);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: 40px;
}

footer>div {
    width: 33%;
}

footer ul {
    gap: 5px;
    flex-direction: column;
}

#footer-links {
    border: 1px solid var(--accent);
    display: inline-block;
    background-color: var(--outline);
    padding: 10px;
    border-radius: 1em;

    & svg {
        fill: var(--text);
        height: 40px;
        width: 40px;
        transition: all 0.3s;
    }

    & svg:hover {
        fill: var(--accent);
    }
}

.horizontal-splitter {
    background-color: var(--accent);
    width: 100%;
    height: 1px;
    margin-block: 5px;
}

#color-mode-switch {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 5em;
    width: 60px;
    background-color: var(--panel);
    border: 2px solid var(--accent);
    z-index: 1;
    font-family: none;

    & div {
        width: 14px;
        height: 14px;
        margin-block: 3px;
        margin-inline: 2px;
        z-index: 1000;
    }

    & div:nth-of-type(1) {
        background-color: var(--accent);
        outline: 2px solid var(--accent);
        color: var(--accent);
        position: absolute;
        border-radius: 5em;
        margin: 0;
        width: 20px;
        height: 20px;
        z-index: 14;
        transition: all 0.1s ease-in-out;
        right: 0;
    }

    & .lightMode {
        transform: translateX(-40px);
    }

    & svg {
        width: 14px;
        height: 14px;
        fill: var(--panel);
    }
}

#color-mode-switch:has(div[class="lightMode"]):hover div:nth-of-type(1) {
    transform: translateX(-30px);
    width: 30px;
}

#color-mode-switch:has(div[class="darkMode"]):hover div:nth-of-type(1) {
    width: 30px;
}

@media (max-width: 800px) {
    header {
        display: block;
    }

    footer {
        flex-direction: column;
        padding: 0;
    }

    footer ul {
        flex-direction: row;
    }

    .not-mobile {
        display: none;
    }
}